<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SSR Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.8/dist/spectre.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
</head>
<body>
  <div class="container grid-xl p-2">
    <h1>SSR Dashboard</h1>
    <div class="mb-2">
      <button class="btn" @click.prevent="onAdd">Add</button>
    </div>
    <div>
      <div class="card mb-2 mr-2" v-for="item in servers" :key="item.key">
        <div class="card-header">
          <div class="card-title h5" v-text="item.key"></div>
          <div>Port: {{item.config.local_port}}</div>
          <div>Download: {{formatTransfer(item.meta.tcp_d)}}</div>
          <div>Upload: {{formatTransfer(item.meta.tcp_u)}}</div>
          <div class="mt-2">
            <button v-if="item.enabled" class="btn" @click.prevent="onToggle(item.key, false)">Disable</button>
            <button v-else class="btn" @click.prevent="onToggle(item.key, true)">Enable</button>
            <button class="btn" @click.prevent="onRemove(item.key)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal active" v-if="modalAdd">
      <div class="modal-container">
        <div class="modal-body">
          <textarea class="form-input" rows="10" v-model="modalAdd.text"></textarea>
        </div>
        <div class="modal-footer">
          <button class="btn" @click.prevent="onConfirmAdd">OK</button>
          <button class="btn" @click.prevent="modalAdd = null">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
